<table class="table">
    <thead>
      <tr>
        <th scope="col">Login</th>
        <th scope="col">Register</th>
      </tr>
    </thead>
    <tbody>
     
        <tr>
            <td>
                <button class="btn btn-primary w-50" routerLink="login" routerLinkActive="active">Login</button>
            </td>
            <td>
                <button class="btn btn-primary w-50" routerLink="register" routerLinkActive="active">Register</button>
            </td>
        </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>