<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{card.content}}</li>
      <li class="list-group-item">{{card.date}}</li>
      <li class="list-group-item">Angular lesson 10</li>
      <li class="list-group-item">
        <button class="btn btn-danger w-100" (click)="deleteOneItem()">delete</button>
      </li>
      <li class="list-group-item">
        <button class="btn btn-primary w-100" (click)="updateOneItem()">update</button>
      </li>
    </ul>
  </div>


  <ng-container #container>

  </ng-container>