<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{card.date}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
      <p class="card-text">{{card.text}}</p>
      <a href="#" class="card-link">{{card.id}}</a>
      <button class="btn btn-primary mt-2 d-block" (click)="updateCard()">update</button>
      <button (click)="deleteCard()" class="btn btn-danger mt-2 d-block">delete</button>
    </div>
  </div>



  <ng-container #container>
  </ng-container>