h2{
    text-align: center;
}

main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_container{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 10px;
}