.modal_container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.456);
    top: 0;
    right: 0;
    z-index: 999;
}

.modal_main{
    width: 70%;
    height: 70%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
}
.close_btn_container{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}