<table class="table">
    <thead>
      <tr>
        <th >Register</th>
        <th >Login</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button class="btn btn-primary w-50" routerLinkActive="active" routerLink="register">Register</button>
            </td>
            <td>
                <button class="btn btn-primary w-50" routerLinkActive="active" routerLink="login">Login</button>
            </td>
        </tr>

    </tbody>
  </table>


<router-outlet></router-outlet>